#* @vtlvariable name="appletPath" type="java.lang.String" *#
#* @vtlvariable name="catalogXML" type="java.lang.String" *#
#* @vtlvariable name="jsessionid" type="java.lang.String" *#
<!-- BEGIN: plugin-resources/webapp/xnat-templates/screens/DownloadApplet.vm -->
<h2>Download Images</h2>
<table border="0" >
    <tr  bgcolor="white">
        <td style="border-style:none;"  valign="top" align="left" colspan="2">
		    <applet code="org.nrg.xnat.fileManager.DownloaderApplet" codebase="$appletPath" width="500" height="500"
                    archive="file-downloader__V1.7.0-SNAPSHOT.jar, commons-configuration__V1.5.jar, commons-collections__V3.2.1.jar, commons-logging__V1.1.1.jar, commons-lang__V2.6.jar, commons-lang3__V3.4.jar, core__V1.7.0-SNAPSHOT.jar, framework__V1.7.0-SNAPSHOT.jar, log4j__V1.2.17.jar, slf4j-api__V1.7.7.jar, slf4j-log4j12__V1.7.7.jar, guava__V19.0.jar, reflections__V0.9.10.jar, xnat-data-models__V1.7.0-SNAPSHOT.jar">
			    <param name="session0" value="$catalogXML">
			    <param name="jsessionid" value="$jsessionid">
            </applet>
       </td>
    </tr>
    <tr style="border-style:none;">
        <td style="border-style:none;" colspan="2" >
        </td>
    </tr>
</table>
<script type="text/javascript">
	var stopTime=(new Date());
	//persist the JSESSION for up to 1 day.
	stopTime.setDate(stopTime.getDate() + 1); 
	
    jq(document).ready(function() {
        // add "applet" class to body to support special handling for applets
        jq('body').addClass('applet');
		
		

        // / refresh timeout interval so applet doesn't lose its session.
        setInterval(function(){
			if(stopTime.getTime()>(new Date()).getTime()){
    			XNAT.app.timeout.handleOk();
			}
		},60000);
    });
</script>
<!-- END: plugin-resources/webapp/xnat-templates/screens/DownloadApplet.vm -->
