##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<script language="javascript">
	function ConfirmPassword()
	{
		if (document.getElementById)
		{
			if(document.getElementById('new_password').value == document.getElementById('confirm_password').value)
			{
				return true;
			}else{
                xmodal.message('Password Validation', 'Values do not match.');
				document.getElementById('new_password').value='';
				document.getElementById('confirm_password').value='';
				return false;
			}
		}
		else if (document.all)
		{
			if(document.all['new_password'].value == document.all['confirm_password'].value)
			{
				return true;
			}else{
                xmodal.message('Password Validation', 'Values do not match.');
				document.all['new_password'].value='';
				document.all['confirm_password'].value='';
				return false;
			}
		}
	}
</script>
<p>
#parse("/screens/userValidationJS.vm")
<form  class="noHide" name="form2" method="post" action="$link.setAction("ModifyPassword")" ONSUBMIT="return ConfirmPassword();">


<table border="0" width="95%">
	<tr>
		<TH align=center colspan=2>Change Password for $!item.getProperty("firstname") $!item.getProperty("lastname") ($!item.getProperty("login"))</TH>
	</tr>
#if (!$forgot)
    <tr>
        <TD align=right>Current Password:</TD><TD><INPUT id="current_password" type="password" name="current_password" value="" autocomplete="off"/></TD>
    </tr>
#end
	<tr>
		<TD align=right>Enter new Password:</TD><TD><INPUT id="new_password" type="password" name="xdat:user.primary_password" value="" autocomplete="off"/></TD>
	</tr>
	<tr>
		<TD align=right>Confirm new Password:</TD><TD><INPUT id="confirm_password" type="password" name="confirm_password" value="" autocomplete="off"/></TD>
	</tr>
	#xdatHiddenBox("xdat:user.xdat_user_id" $item "")
	#xdatHiddenBox("xdat:user.login" $item "")
	#xdatEditProps($item $edit_screen)
	<TR><TD COLSPAN=2 ALIGN=center><input type="submit" name="eventSubmit_doSetup" value="Submit"/></TD></TR>
</table>
</form>
</p>
